<footer class="footer">
  <div class="footer__container container">
    <a class="footer__logo-link logo-link cursor-pointer-js" href="#">
      <img class="logo-link__img" src="img/logo-big.png" alt="Логотип Топ Бро">
    </a>

    <address class="footer__address address">
        <p class="address__item">Связаться с нами</p>

        <a class="address__item cursor-pointer-js" href="mailto:reklama@wildjam.ru">reklama@wildjam.ru</a>

        <p class="address__item" aria-label="улица Сущевская, дом 27, строение 2">ул. Сущевская, д. 27, стр. 2</p>

        <a class="address__item cursor-pointer-js" href="tel:+74993933962">+7 (499) 393-39-62</a>
    </address>

    <address class="address__wrap-social social">
      <a class="social__link social__link--vk cursor-pointer-js" href="#" aria-label="вконтакте"></a>

      <a class="social__link social__link--instagram cursor-pointer-js" href="#" aria-label="инстаграм"></a>
    </address>
  </div>
</footer>
