<header class="header">
  <div id="cursor" class="cursor">
    <div class="cursor__effect"></div>
  </div>

  <div class="container header__container">
    <button id="burger-btn" class="burger-btn cursor-pointer-js" aria-label="открыть меню">
      <span class="burger-btn__line burger-btn__line--top"></span>
      <span class="burger-btn__line burger-btn__line--middle"></span>
      <span class="burger-btn__line burger-btn__line--bottom"></span>
    </button>

    <a class="header__logo-link logo-link cursor-pointer-js" href="#">
      <img class="logo-link__img" src="img/logo.png" alt="Логотип Топ Бро">
    </a>

    <nav class="header__nav nav">
      <ul class="header__lists-link list-links">
        <li class="list-links__item list-links__item--margin-rigth">
          <a class="list-links__link cursor-pointer-js" href="index.html">Блогеры</a>
        </li>

        <li class="list-links__item list-links__item--margin-rigth">
          <a class="list-links__link cursor-pointer-js" href="#">Кейсы</a>
        </li>

        <li class="list-links__item list-links__item--margin-rigth">
          <a class="list-links__link cursor-pointer-js" href="#">exit agency</a>
        </li>

        <li class="list-links__item list-links__item--margin-rigth">
          <a class="list-links__link cursor-pointer-js" href="#">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="header__wrap-lang-buttons wrap-lang-buttons">
      <button class="wrap-lang-buttons__button button cursor-pointer-js" aria-label="Choose English">en</button>

      <button class="wrap-lang-buttons__button button cursor-pointer-js" aria-label="Выбрать русский язык">ru</button>
    </div>
  </div>

  <div id="burger-menu" class="burger-menu">
    <div class="burger-menu__wrap-lang-buttons wrap-lang-buttons">
      <button class="wrap-lang-buttons__button button cursor-pointer-js" aria-label="Choose English">en</button>

      <button class="wrap-lang-buttons__button button cursor-pointer-js" aria-label="Выбрать русский язык">ru</button>
    </div>

    <nav class="burger-menu__nav nav">
      <ul class="burger-menu__list-links list-links">
        <li class="list-links__item list-links__item--margin-bottom">
          <a class="list-links__link cursor-pointer-js" href="index.html">Блогеры</a>
        </li>

        <li class="list-links__item list-links__item--margin-bottom">
          <a class="list-links__link cursor-pointer-js" href="#">Кейсы</a>
        </li>

        <li class="list-links__item list-links__item--margin-bottom">
          <a class="list-links__link cursor-pointer-js" href="#">exit agency</a>
        </li>

        <li class="list-links__item list-links__item--margin-bottom">
          <a class="list-links__link cursor-pointer-js" href="#">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
