<section class="recent-videos">
  <div class="container">
    <h2 class="recent-videos__title title">Последние ролики</h2>

    <ul class="recent-videos__list-videos list-videos">
      <li class="list-videos__item">
        <img class="list-videos__play" alt="Воспроизвести видео" src="img/icon-play.svg"/>
        <video class="list-videos__video cursor-pointer-js" poster="img/video-1.jpg">
          Your browser doesn't support HTML5 video tag.
        </video>
      </li>

      <li class="list-videos__item">
        <img class="list-videos__play" alt="Воспроизвести видео" src="img/icon-play.svg"/>
        <video class="list-videos__video cursor-pointer-js" poster="img/video-2.jpg">
          Your browser doesn't support HTML5 video tag.
        </video>
      </li>

      <li class="list-videos__item">
        <img class="list-videos__play" alt="Воспроизвести видео" src="img/icon-play.svg"/>
        <video class="list-videos__video cursor-pointer-js" poster="img/video-3.jpg">
          Your browser doesn't support HTML5 video tag.
        </video>
      </li>

      <li class="list-videos__item">
        <img class="list-videos__play" alt="Воспроизвести видео" src="img/icon-play.svg"/>
        <video class="list-videos__video cursor-pointer-js" poster="img/video-4.jpg">
          Your browser doesn't support HTML5 video tag.
        </video>
      </li>

      <li class="list-videos__item">
        <img class="list-videos__play" alt="Воспроизвести видео" src="img/icon-play.svg"/>
        <video class="list-videos__video cursor-pointer-js" poster="img/video-5.jpg">
          Your browser doesn't support HTML5 video tag.
        </video>
      </li>

      <li class="list-videos__item">
        <img class="list-videos__play" alt="Воспроизвести видео" src="img/icon-play.svg"/>
        <video class="list-videos__video cursor-pointer-js" poster="img/video-6.jpg">
          Your browser doesn't support HTML5 video tag.
        </video>
      </li>
    </ul>
  </div>
</section>
